<div class="text-heading">
  <h1>Tweets</h1>
</div>

<%= render "form", tweet: @tweet %>

<div class="max-w-fit mx-auto mt-5">
  <%= link_to 'Back to tweets', tweets_path, class: "btn blue-btn" %>
</div>
